services:

  mongodb:
    image: mongo:7.0
    volumes:
      - ./push-data.mongodb:/usr/src/push-data.mongodb:ro

  config-api:
    build: ..
    command:
      - /usr/local/bin/config-api
      - --verbose
    environment:
      - MONGODB_DATABASE=testdb

  api-test:
    image: ghcr.io/orange-opensource/hurl:7.1.0
    command:
      - --test
      - --variable
      - host=http://config-api:8080
      - /usr/src/test.hurl
    volumes:
      - ./test.hurl:/usr/src/test.hurl:ro
